In [1]:
#Import all related libraries
import pandas as pd
import numpy as np
import statistics as st

In [2]:
# Read the csv file
q7= pd.read_csv("Q7.csv")

In [3]:
# Show the data of csv file
q7

               Car_name  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [4]:
# It describe mean, std, min, max according
# to data of Points, Score and Weigh
q7.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [5]:
# Here I find mean of points data 
q7.Points.mean()

3.5965625000000006

In [6]:
# Here I find median of points data 
q7.Points.median()

3.6950000000000003

In [7]:
# Here I find mode of points data 
# Here 2 values shows because both 
# occurance is same in Points data
q7.Points.mode()

0    3.07
1    3.92
Name: Points, dtype: float64

In [8]:
# Here I find Variance of points data 
st.variance(q7.Points)

0.2858813508064516

In [9]:
# Here I find Standard Deviation of 
# points data 
st.stdev(q7.Points)

0.5346787360709715

In [10]:
# Here I find mean of Score data 
q7.Score.mean()

3.2172499999999995

In [11]:
# Here I find median of Score data 
q7.Score.median()

3.325

In [12]:
# Here I find mode of Score data 
q7.Score.mode()

0    3.44
Name: Score, dtype: float64

In [13]:
# Here I find variance of Score data 
st.variance(q7.Score)

0.9573789677419355

In [14]:
# Here I find standard deviation of 
# Score data 
st.stdev(q7.Score)

0.9784574429896967

In [15]:
# Here I find mean of Weigh data 
q7.Weigh.mean()

17.848750000000003

In [16]:
# Here I find median of Weigh data 
q7.Weigh.median()

17.71

In [17]:
# Here I find mode of Weigh data 
# Here 2 values shows because both 
# occurance is same in Weigh data
q7.Weigh.mode()

0    17.02
1    18.90
Name: Weigh, dtype: float64

In [18]:
# Here I find variance of Weigh data 
st.variance(q7.Score)

0.9573789677419355

In [19]:
# Here I find standard deviation of 
# Weigh data 
st.stdev(q7.Weigh)

1.786943236096843